extends layout

block content
	#application-header.login-header
	#content-wrapper
		#login
	#footer

	script(src="assets/jquery/dist/jquery.min.js")
	script(src="assets/bootstrap/dist/js/bootstrap.min.js")
	script(src='assets/lodash/lodash.min.js')
	script(src='assets/backbone/backbone.js')
	script(src="assets/backbone.stickit/backbone.stickit.js")
	script(src="assets/bootstrapValidator/dist/js/bootstrapValidator.js")
	script(src='js/tl.js')
	script(src='js/loginApp.js')
