doctype html
html
	head
		title Baytek Analytics
		meta(charset="utf-8")
		meta(content="width=device-width, initial-scale=1.0",name="viewport")
		meta(content="Analytics for arcade operators", name="description")
		meta(content="Our Team", name="author")
		link(href="assets/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="assets/font-awesome/css/font-awesome.min.css", rel="stylesheet")
		link(href="stylesheets/style.css", rel="stylesheet")
	!= templates
	body.fixed-top
		block content
												
												
