doctype html
html
	head
		title SSNoC
		meta(charset="utf-8")
		meta(content="width=device-width, initial-scale=1.0",name="viewport")
		meta(content="A Social Survival Network on a Chip for Disaster Management", name="description")
		meta(content="FSE Team USB1", name="author")
		link(href="assets/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="assets/font-awesome/css/font-awesome.min.css", rel="stylesheet")
		!= templates
		body.fixed-top
		block content
												
												
