script.template#chat-view(type="html/text")
	// BEGIN CHAT PORTLET
	.widget
		.widget-title
			h4
				i.icon-comments-alt
				| <%= target %>
			span.tools
				a(href="javascript:;").icon-remove
		.widget-body
			ul.chats.normal-chat(style="max-height:250px;overflow-y:scroll;")
script.template#chat-item-view(type="html/text")
	li.in
		// img.avatar(src="")
		.message
			.arrow
			a.name(href="javascript:;")#chat-item-author
			span.datetime#chat-item-time 
			span.body#chat-item-content
script.template#chat-new-view(type="html/text")
	.chat-form
		.input-cont
			input(type="text", placeholder="Type a message here...")#chat-new-content
		.btn-cont
			.btn.btn-primary(href="javascript:;")#chat-new-action Send
	// END CHAT PORTLET
	
