doctype html
html
	head
		title SSNoC
		meta(charset="utf-8")
		meta(content="width=device-width, initial-scale=1.0",name="viewport")
		meta(content="A Social Survival Network on a Chip for Disaster Management", name="description")
		meta(content="FSE Team USB1", name="author")
		link(href="assets/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="assets/bootstrap/css/bootstrap-responsive.min.css", rel="stylesheet")
		link(href="assets/font-awesome/css/font-awesome.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
		link(href="css/style_responsive.css", rel="stylesheet")
		link(href="css/style_default.css", rel="stylesheet", id="style_color")
		link(rel="stylesheet", href="assets/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css")
		//link(href="assets/fancybox/source/jquery.fancybox.css", rel="stylesheet")
		//link(rel="stylesheet", type="text/css", href="assets/uniform/css/uniform.default.css")
		!= templates
	body.fixed-top
		block content
		
