script.template#profile(type="text/html")
	.row-fluid
		.span12
			.widget
				.widget-title
					h4
						i.icon-user
						span#userNameProfile
				.widget-body
					.span3
						.text-center.profile-pic
							img(src="img/profile-pic.jpg")
						ul.nav.nav-tabs.nav-stacked
							li 
								a(href="javascript:;")#profileStatusOK
									i.icon-ok-sign
									|  OK
							li 
								a(href="javascript:;")#profileStatusHelp
									i.icon-exclamation-sign
									|  Help
							li 
								a(href="javascript:;")#profileStatusEmergency
									i.icon-plus
									|  Emergency
						ul.nav.nav-tabs.nav-stacked
							li 
								a(href="javascript:;")#privilegeAdmin
									i.icon-ok-sign
									|  Administrator
							li 
								a(href="javascript:;")#privilegeCoordinator
									i.icon-exclamation-sign
									|  Coordinator
							li 
								a(href="javascript:;")#privilegeMonitor
									i.icon-plus
									|  Monitor
							li 
								a(href="javascript:;")#privilegeCitizen
									i.icon-minus
									|  Citizen
					.span6
						h4#userNameProfile
						br
						small#userTypeProfile
						table.table.table-borderless
							tr
								td.span3 User Name :
								td#userNameProfile
							tr
								td.span3 Full Name :
								td#userFullNameProfile
							tr
								td.span3 Age :
								td#userAgeProfile
							tr
								td.span3 Change Password :
								td: input#userPasswordProfile(type="password")
					.span3
						h4 Current Status
						.alert
							i
							span#userStatusProfile
						h4 Monitor
						| Active : 
						span#userActiveProfile
						h4 Privilege
						span#userPrivilegeProfile
					.space5