script.template#status-widgets(type="text/html")
  div.container-fluid
    ul
      li
        span.circle#machines
          span#runningMachines 
          | /
          span#totalMachines
            //- span.circle#stock
      li
        span.circle#pendingTasks
      li
        span.circle#money
