script.template#wall-view(type="html/text")
	.span12
		.widget
			.widget-title
				h4
					i.icon-list-alt
					| Public Wall
			.widget-body
				.chat-form
				.timeline-messages
script.template#wall-new-view(type="html/text")
	.input-cont
			input#wall-new-content.form-control(type="text", placeholder="Post public message...")
	.btn-cont
		.btn-group
			a.btn.btn-primary.dropdown-toggle(href="javascript:;", data-toggle="dropdown", aria-expanded="false")
				span.caret
			a.btn.btn-primary(type="button")#wall-new-action
			ul.dropdown-menu.pull-right(role="menu")
				li#wall-new-announce: a(href="javascript:;") Announcement
				li#wall-new-post: a(href="javascript:;") Post
script.template#wall-item-view(type="html/text")
	.msg-time-chat
		a.message-img#wall-item-image(href="javascript:;")
		.message-body.msg-in
			.text
				p.attribution
					a#wall-item-author(href="javascript:;")
					span#wall-item-date
				p#wall-item-content

